[2015-01-27 21:51] ynasser opened #29 "request for a FAQ"
A question I get a lot is: why do you have some women-only events? Maybe we could make a FAQ and include an answer to that that in it?

[2015-01-27 22:04] evykassirer commented on #29
Great idea :) we can link to some good articles regarding the issue too, if readers want to investigate further

[2015-01-28 02:04] ehashman commented on #29
As briefly discussed earlier, [this is an answer](http://www.reddit.com/r/uwaterloo/comments/2mh3ce/thu_nov_20_530pm_breaking_into_open_source_and/cm4gkra?context=3) to one of those questions.

[2015-01-28 03:00] void-elf commented on #29
I really like the reddit comment linked to above (especially since it has an explicit example of a type of event) and we should build upon it when writing the FAQ. I was hoping Geek Feminism would have a page explaining the motivation for women only events, but there isn't one yet.

"Why found a women geeks group" from here: http://geekfeminism.wikia.com/wiki/Founding_a_women_geeks_group has some

[2015-01-30 19:40] ehashman commented on #29
These are all fantastic ideas!

@ynasser, please feel free to submit a PR if you are interested. If you just want to keep giving us feedback though, that's also very appreciated! :)

[2015-02-01 03:29] SrishtiG commented on #29
:+1:

[2015-02-05 03:52] ynasser opened #38 "broken links on first blog post to /media, /blog, and /events"
In the body of the post here: http://wics.uwaterloo.ca/2015/01/new-website/

[2015-02-05 21:10] ehashman commented on #38
Thanks for fixing this, @ynasser !

[2015-02-05 21:10] #38 closed

[2015-03-04 18:13] ehashman opened #50 "Page navigation doesn't show up on the first page of each section"
Will need to look into this.

[2015-03-04 18:13] ehashman commented on #29
Addressed by #33, #46.

[2015-03-04 18:13] #29 closed

[2015-03-16 00:33] ehashman commented on #50
Okay, so pagination isn't actually broken: all the various pages are being generated, e.g. http://wics.uwaterloo.ca/index2.html

This is a little silly, so we should probably update those URLs to something sensible, ala [this option](http://docs.getpelican.com/en/latest/settings.html#using-pagination-patterns).

So we just need to ensure the pagination links actually show up on page 1...

[2015-06-20 20:08] #50 closed

[2015-09-17 01:04] ehashman opened #96 "Update committee listing for F15"
See #59 for what that might look like, in terms of updating links, archiving a copy of the previous committee page, etc.

[2015-09-17 01:06] ehashman opened #97 "Update post tagging by amalgamating tags, ensure proper tagging"
You may not have noticed, but we have both an "academic" and "academia" tag! Furthermore, a number of our events aren't fully tagged. It would be cool to go through the tag list and amalgamate some of these duplicate tags, as well as drudging through all of the articles and ensuring they have a full list of tags.

You can find the tag page [here](http://wics.uwaterloo.ca/tags/).

[2015-09-17 01:09] ehashman opened #98 "Update inclusive wording on a couple of our pages"
Our "about" page seems to imply that our office is open to all trans individuals, because the page was written before we declared our office women-only. This should probably be updated---that is, either we determine whether we want our office to continue to be women-only or if we want to include more groups.

I'd like to change "non-binary folk" to "non-binary individuals" on our FAQ. It's a bit m

[2015-09-17 01:11] ehashman opened #99 "Add Office Policy page"
We have an office policy but it should probably be publicly available, linked on our website.

For the pelican metadata, this page should have "status: hidden" to ensure it doesn't appear in the top bar navigation.

[2015-09-17 01:11] ehashman opened #100 "Add Machine Usage Agreement page"

[2015-09-17 01:22] ehashman opened #101 "Add Co-op Career Panel video from W15"
So I even already have the page and the link all updated in a branch that's been sitting around for months; the issue has been getting the actual video published. There were some problems with the audio. Hopefully the existence of this issue will remind me to get it done :)

[2015-09-17 02:00] ehashman opened #102 "Add a volunteer page"
People have contacted us about volunteer opportunities per our About page, but it would be great if we could elaborate on our open positions in more detail. Whether it's implemented as a link to a google form application or a page with some permanent descriptions, it would be cool either way to see something along these lines.

[2015-09-28 19:30] ehashman commented on #96
Fixed by #107.

[2015-09-28 19:30] #96 closed

[2015-09-28 19:33] ehashman opened #108 "Some typos in committee lists"
Under [current committee](http://wics.uwaterloo.ca/our-volunteers/), the term is listed as Spring 2015, but this should read Fall 2015.

Under [Spring 2015](http://wics.uwaterloo.ca/spring-2015-committee/), there's a bunch of unnecessary text/link/title at the top. Everything before "Chair" can be removed.

[2015-09-28 20:40] #108 closed

[2015-10-24 19:08] ehashman opened #119 "Constitution improvements (meta-issue)"
In #112, it became clear that there were too many issues raised with the constitution to address in a single pull request. Hence, I merged that PR into a separate branch such that we can address issues one-by-one.

Here is a list of known issues/requests that we've seen thus far for the constitution. For each one, feel free to make a single issue to track it if it requires extensive discussion.

-

[2015-10-26 04:27] #97 closed

[2015-10-30 15:07] fboxwala opened #123 "Constitution Improvements meta-issue #119: Chair term limit"
Making an issue for this because I think it requires some discussion. I'm of the opinion that there should be a term limit but higher than two. Three would be acceptable to me.

A two-consecutive term limit seems unnecessary because a chair who has already served a term is chair has experience and is potentially the best candidate to be chair again. Furthermore, it can be hard to find anyone to do

[2015-10-30 15:19] fboxwala opened #124 "Constitution Improvements meta-issue 119: members on co-op"
In my experience, members on co-op can be effective. Akshaya did quite well as Big Csters director.

I would say office manager, sys-admin, chair and secretary should be on a study term.

@wics-uw/contributors

[2015-10-30 15:24] evykassirer commented on #123
maybe we could say that if someone has chaired 3 times, it is preferred that someone else chairs, unless no one is interested?
I want to make sure that people who are interested feel that they can speak up and take over from someone who has been strongly associated with the role

[2015-10-30 15:24] fboxwala opened #125 "Constitution Improvements meta-issue 119: too many qualified applicants"
When we have too many qualified applicants who are new, I think these decisions can still be made through the normal interview/evaluation process.

When we have too many qualified returning members, the decision for who gets to be on committee should be escalated, because clearly we can't be objective about ourselves. What I put in for this situation was that everyone should go through the regular

[2015-10-30 15:26] evykassirer commented on #124
honestly, MX was on coop as a CS145 ISA and she's been in the office tons, and seems to have more time than any of the rest of us

[2015-10-30 15:29] fboxwala commented on #124
I think ISA's are a special case. Anna was off-campus cooping so it was really hard for her to be in the office during hours. We could change the wording to:

Office manager and sys-admin must be either studying or working _on campus_
Chair and Secretary should be on a _study term_

[2015-10-30 15:30] evykassirer commented on #124
yesss ++

[2015-10-30 15:37] fboxwala commented on #123
So are you saying we do something like this:

There is no limit on the number of terms that one person may serve as chair, however preference in the evaluation process will be given to those candidates who have served 2 or fewer terms in the position.

Or like this:

No one person may serve as chair for more than 5 total terms. Furthermore, in the evaluation process, candidates who have served 2 o

[2015-10-30 15:38] evykassirer commented on #123
I'm leaning towards first one with "strong preference"
to cover the case where we have trouble bringing in people who want to chair

[2015-10-30 15:46] fboxwala commented on #123
Okay @wics-uw/contributors how does everyone feel about this?

There is no limit on the number of terms that one person may serve as chair, however _strong preference_ in the evaluation process will be given to those candidates who have served 2 or fewer terms in the position.

[2015-10-30 17:19] fboxwala commented on #119
re. Director vs. Chair from Jo:

_HI Fatema,
The name of WICS is still the Women in Computer Science Committee, and I’m currently the chair of that committee.  What is new is that the School started a new Director-level position in its administration:  the Director of Women in Computer Science, and I currently served in that role as well.
I expect that it will normally be the case that the Directo

[2015-10-30 18:00] ehashman commented on #119
Agreed, re: Chair Fatema. Let's change all instances of Director to Chair.

[2015-10-30 18:09] ehashman commented on #125
I guess my issue is one of fairness to new committee members. Let me sketch out some hypothetical scenarios. We note the maximum number of committee members is 10.

**Scenario 1:** 6 qualified new members, 5 qualified returning members.
- Possible outcome: all members are referred to WiCS Chair for selection
- Possible outcome: a returning member self-selects out
- Possible outcome: current commit

[2015-10-30 18:14] ehashman commented on #124
I might want to word this slightly differently because co-op students taking one class are considered to be on a part-time study term/studying (and trust me, from past experience, in that case you have the _least_ time for extracurrics).

I don't want to exclude students who are taking a reduced courseload and don't qualify as full-time, so maybe we could write it "on a study term with no competin

[2015-10-30 18:28] ehashman commented on #123
I think the only limit there should be is that an individual cannot serve three consecutive terms as Chair. This allows for two in a row, but doesn't limit total number of terms as chair (I don't know of any club who puts those kinds of limits on exec).

I mean, the chair is selected by the committee, so if there is a problem with their chairing, presumably they wouldn't be selected again. I don't

[2015-10-30 19:28] ehashman opened #128 "Some minor fixes for Policies page"
- Office policy should be linked there
- Code-of-Conduct link should have spaces, not dashes

Also possibly related: can we get the versioning on the office policy to match that of the Code of Conduct?

[2015-10-30 19:37] ehashman opened #129 "Posts missing tags"
- http://wics.uwaterloo.ca/2015/07/intersectionality-workshop/ - should have 'feminism' and 'workshop', not 'academic'
- http://wics.uwaterloo.ca/2015/07/alterconf-toronto-2015/ - should have 'conference' and not 'social'
- http://wics.uwaterloo.ca/2015/06/you-are-not-your-grades/ - should have 'academic' and possibly not social
- http://wics.uwaterloo.ca/2015/05/google-talk/ - should have 'indust

[2015-10-30 19:43] ehashman commented on #99
Closed by 8f23ccf.

[2015-10-30 19:43] #99 closed

[2015-10-30 19:44] ehashman commented on #98
Fixed by #117

[2015-10-30 19:44] #98 closed

[2015-11-03 15:17] fboxwala commented on #125
Okay so for scenario 1, what we've been doing up until now seems to be possible outcome 3. We first decide how many returning members there are and (given that there was less than 75%) we filled all the remaining spots with new members. Which leaves the possibility for a qualified new member to not be taken on the committee. If we wanted this to not happen, we should add language giving preference

[2015-11-03 15:20] fboxwala commented on #124
Office manager and sys-admin must be either studying or working _on campus_
Chair and Secretary should be on a _study term with no competeing full-time commitments (such as a co-op job)_

^?

[2015-11-03 15:28] fboxwala commented on #123
So currently we have:

_There is no limit on the number of terms that one person may serve as chair, however strong preference in the evaluation process will be given to those candidates who have served 2 or fewer terms in the position._

and:

_No individual may serve as chair consecutively for more than 2 terms._
Which I think is also the language we have in there right now.

I think it should b

[2015-11-04 18:44] evykassirer commented on #128
@leafa is working on this I think

[2015-11-04 18:45] evykassirer commented on #129
do you think we could use this beginner friendly issue to introduce a wicsys volunteer to website contribution? is that something we're interested in?

[2015-11-04 18:46] mxyang42 commented on #128
Sure I'll fix both of these

[2015-11-04 18:47] evykassirer commented on #128
thanks :D

[2015-11-05 21:39] #128 closed

[2015-11-05 21:40] ehashman commented on #129
@evykassirer: I think the tag is useful for identifying smaller/easier fixes. I don't think it has to be a wics-sys thing... anyone who is interested can submit a PR, wics-sys or no!

[2015-11-05 21:45] ehashman commented on #124
+1 Fatema

Just wanted to also make sure we're not missing any cases... the remaining 3 positions are Big CSters director, finance director, and marketing/publicity. I wonder if the finance director should be allowed to be on co-op, or at least off-campus... there are a number of financial meetings that need to happen during business hours, so it could be problematic if the finance director can't

[2015-11-16 04:12] ehashman opened #133 "Constitution improvements: values"
Related to #119

I mentioned both "Accountability" and "Consensus-based decision making" in the meta-issue, because I don't think they're properly represented.

[2015-11-16 04:56] ehashman commented on #123
I claim there is a more simple solution. I think we should reduce the limit for consecutive terms that a member can serve to two, and then we can remove the special case for chair.

[2015-11-16 14:13] fboxwala commented on #124
+1 to Finance being on campus

[2015-11-16 14:14] fboxwala commented on #125
Bringing this back to people's attention @wics-uw/contributors

[2015-11-16 15:15] evykassirer commented on #123
But then people who have school coop (on campus) school can't be on committee for the
terms they're around :/
On Nov 15, 2015 11:56 PM, "Elana Hashman" notifications@github.com wrote:

[2015-11-16 16:24] fboxwala commented on #123
I think that's the point, that we don't want one person having a permanent seat on committee for twelve months.

[2015-11-16 16:36] ehashman commented on #123
Yeah, exactly. I really want to discourage people from being on the committee continuously for too long, especially while on co-op. Co-op should be a time for individuals to get new, non-school experience. I don't want to see a bunch of WiCS volunteers doing three terms of committee service in a study/co-op/study sequence. One thing I was guilty of as a student was trying to stay in the Waterloo a

[2015-11-16 17:21] evykassirer commented on #123
I'm convinced :)
++
On Nov 16, 2015 11:36 AM, "Elana Hashman" notifications@github.com wrote:

[2015-11-16 17:40] ehashman commented on #123
Resolved by #136

[2015-11-16 17:40] #123 closed

[2015-11-16 17:40] ehashman commented on #124
Resolved by #136

[2015-11-16 17:40] #124 closed

[2015-11-16 20:48] ehashman commented on #133
Closed by #136

[2015-11-21 23:38] ehashman commented on #119
I feel like "no" for the dissolution section for now, and that we should have an "acceptance use of resources" section.

[2015-11-23 15:54] anforche commented on #129
@ehashman @evykassirer Could I help in any way? This looks really interesting!

[2015-11-23 15:59] fboxwala commented on #129
Hey @anforche! You can go ahead and submit a PR on edits for any of the pages @ehashman mentioned above, I'm sitting on git rn so I can review it pretty fast :)

(If you need any guidance or help message me on fb or /q me on irc, I'm Fatema on OFTC and Freenode!)

[2015-11-23 18:27] evykassirer commented on #129
If you're not sure how to get started, or have any questions, please reach out! I'd be glad to help.
I'm glad you're interested and look forward to seeing your pull request :D

[2015-11-23 21:05] ehashman commented on #129
I'll also chime in. You can fix this by modifying each of the posts above to add the specified tags, i.e. for the feminism workshop, we [find the corresponding file](https://github.com/wics-uw/website/blame/master/content/S2015/S15-event-intersectionality.md#L4) to the post, and then change the `Tags: academic` line to `Tags: feminism, workshop`. The tags are comma-separated and can contain spaces

[2015-11-27 20:04] ehashman commented on #119
Re: enforcement, most constitutions I've looked at don't have a specific clause, so I'll mark that as done.

I am going to address feedback in #146 to hopefully make it mergeable, submit a PR regarding committee members leaving (or their removal), and then my hope is that this can be read through over the weekend and can be ratified during the next meeting.

[2015-11-27 20:34] fboxwala commented on #119
Wanted to add a responsibility for chair:

"To work with the secretary to ensure that members are able to complete their assigned tasks, and that the committee functions cohesively"

[2015-12-02 14:27] #125 closed

[2015-12-02 23:17] ehashman commented on #119
Okay, so we're just waiting on the decisions on the two different wordings in #146. Once that's merged, this issue will be closed and we can make a pull request for the entire constitution into master.

[2015-12-06 23:38] ehashman opened #155 "Add missing events from Fall 2015 term"
I think for posterity's sake we should archive these on our website. It would be cool if someone went through the Facebook event backlog and created website posts for any missing events for the Fall 2015 term. This would also be a good way for a first-time contributor to get involved in the website.

[2015-12-18 14:26] #119 closed

[2015-12-19 18:34] ehashman opened #161 "Fix spacing in CSS for lists"
For whatever reason, our CSS theming is a bit inconsistent. I commented on how this looks to be a problem in #115. This problem affects pages such as the [Office Policy](http://wics.uwaterloo.ca/office-policy/), and soon, the MUA Summary.

I believe the required fix is to [add some margin to `ul` elements, to match that of `p` elements.](https://github.com/wics-uw/website/pull/115#issuecomment-154

[2015-12-19 18:42] #100 closed

[2016-01-26 20:46] evykassirer opened #166 "Update committee members for S16"
See #59 for what that might look like, in terms of updating links, archiving a copy of the previous committee page, etc.

[2016-02-07 04:37] ehashman opened #169 "Heroku access for review app deployment"
Until Heroku adds support for auto-deploying review apps for org members' forks, I have to go in and manually hit deploy to launch our review apps for PRs. This is annoying and also my turnaround time is not great. I'd like to give another syscom member/committee access. Any volunteers?

[2016-02-09 12:10] SZain commented on #161
I can see the spacing problem in [Office Policy](http://wics.uwaterloo.ca/office-policy/).
I would like to fix this.

[2016-02-09 15:21] ehashman commented on #161
Okay @SZain, do you understand the comments above? Would screenshots help?

[2016-02-09 20:06] SZain commented on #161
Yes i did, but still sending screenshots would definitely help.

[2016-02-09 22:37] ehashman commented on #161
I'm a bit busy this week so it will be hard for me to get around to it until maybe next Monday/Tuesday, is that okay?

[2016-02-10 11:21] SZain commented on #161
yes that's fine.

[2016-02-10 20:14] ehashman opened #173 "Someone added Sponsorship and it broke the header"
Now Tags is on its own line again. Why wasn't this tested? This should be fixed ASAP.

[2016-02-10 21:09] fboxwala commented on #173
Am attempting to fix this -- sorry pls dont take my access.

[2016-02-16 22:15] ehashman commented on #173
This appears to have been fixed in #174 but now I don't believe it addresses the original ask, which was to visibly display sponsorship information on our website. Hiding it at the bottom of the FAQ likely is going to get you in trouble again. Can you put something in "About" at the very least? And possibly in the footer?

[2016-02-16 22:23] fboxwala commented on #173
We can definitely do about and the footer. Is there a way to expand the header?

[2016-02-17 15:53] ehashman commented on #173
We could, but it's getting kind of wide. I wonder if we could shrink the spacing between header stuff a tiny bit. Sample past PR: #10

[2016-02-17 21:33] #129 closed

[2016-02-17 21:39] ehashman opened #180 "Add more people to the Heroku team"
I would like other people with commit access to be able to hit the "deploy to Heroku" button for the review apps. Please let me know here if you are interested, and we can sync up offline to send you an email invite. Pinging @wics-uw/committers.

[2016-02-17 21:39] ehashman opened #181 "Document Heroku CI deployment process"
Could be a good first task for the README for a new Heroku org member (ala #180).

[2016-02-17 22:48] fboxwala commented on #180
Am interested

[2016-02-17 22:49] fboxwala commented on #173
I can mess around with it tomorrow and try some stuff

[2016-02-18 03:19] evykassirer commented on #180
Interested :)

On Wed, Feb 17, 2016 at 2:48 PM, Fatema Boxwala notifications@github.com
wrote:

[2016-02-24 16:59] ehashman commented on #180
Mentioned on IRC but reiterating here, please message me the email you want your invite to go to.

[2016-03-30 19:20] SZain commented on #161
I was waiting for the screenshots but anyways I have pulled the requests.

[2016-03-30 21:17] ehashman commented on #161
Hi @SZain, I haven't seen a pull request. Sorry for not sending that to you; you should feel free to ping people, I just forgot about this issue.

Here is the screenshot:

![screenshot at 2016-03-30 17 17 08](https://cloud.githubusercontent.com/assets/4706131/14157904/423cd0fa-f69b-11e5-8752-0a35a8a9576b.png)

As you can see, spacing between headers and unordered lists is wrong.

[2016-04-27 14:06] arshiamufti opened #192 "Add volunteer sign up form and FAQ"

[2016-04-27 14:08] arshiamufti opened #193 "Add a mention of our library to the website"
It would list the magazines we subscribe to, any books (electronic or physical) that are available to read. Not sure if this should be a brand new tab on the website or we should link to it in our about page?

[2016-04-27 14:35] ehashman commented on #192
This is a duplicate of #102.

[2016-04-27 14:35] #192 closed

[2016-04-27 14:36] ehashman commented on #193
It would be cool to add a library section to the office page (I think there's a brief mention of it existing).

[2016-04-27 22:09] evykassirer commented on #102
@arshiamufti this is the thing you're doing right? :)

[2016-04-27 22:11] evykassirer commented on #166
let's repurpose this issue for this term ^_^

[2016-04-27 22:13] evykassirer commented on #193
I think having another tab might be too much, but a link from our about page sounds great!! Do we want to use this for the other PR in our git meeting?

[2016-04-28 14:18] arshiamufti commented on #193
You mean, have each person attending do a separate PR? Yeah, that would work.

[2016-04-28 14:19] arshiamufti commented on #102
Yep.

[2016-04-28 16:38] ehashman commented on #166
See #172.

[2016-04-28 20:22] evykassirer commented on #193
Yeah, as long as they're both really approachable. How easy do you think this would be for a first PR?

[2016-04-29 15:41] ehashman commented on #193
I think this should be split into two PRs:
- [x] One to update the Office section on http://wics.uwaterloo.ca/contact-us/ mentioning we have a library
- [ ] One to add a question to the FAQ about the library's existence (maybe framed as a question for finding resources for learning more about diversity and technology, perhaps?)

[2016-04-29 15:42] ehashman opened #195 "Add missing events from the Winter 2016 term"
Similar to #155, a number of events never made it onto the website for the W16 term. It would be nice if we had a record on the website for posterity's sake, since Facebook events are very ephemeral.

[2016-04-29 15:44] ehashman commented on #169
@evykassirer, @meltedesco, and @fboxwala were added as collaborators a while back, so I can probably close this.

[2016-04-29 15:44] #169 closed

[2016-04-29 15:46] ehashman commented on #173
Header was unbroken by #174 so this should be closed and other sponsorship stuff should be filed as a separate issue.

[2016-04-29 15:46] #173 closed

[2016-04-29 18:01] #180 closed

[2016-04-29 18:02] ehashman opened #196 "Add Co-op Career Panel video from W16"
See #101 for a PR to model this after.

The processed file is already on mirror.csclub: http://mirror.csclub.uwaterloo.ca/wics/coop-panel-w16.mp4

[2016-04-29 18:03] ehashman opened #197 "Add Stephanie Morillo's talk video from W16"
Similar to #196. Do we have this video available anywhere so I can upload it to the csclub's mirror?

[2016-04-30 04:25] evykassirer commented on #193
that sounds good to me
@arshiamufti how do you feel about having those as the two PRs, and just updating the committee as an example or while they're working? :)

[2016-05-02 14:54] #101 closed

[2016-05-07 15:26] evykassirer commented on #195
where could we find a list of events that didn't get to the website?

[2016-05-07 15:26] evykassirer commented on #195
would we just go through minutes? or can you think of an easier way

[2016-05-07 15:42] evykassirer commented on #195
thanks @fboxwala here's the form with the list of events https://docs.google.com/forms/d/1y4OxANmSI8zAH7-TCB0YO0DPHA15jd-YongcXbaekm0/edit?usp=drive_web

[2016-05-07 15:49] evykassirer commented on #197
@annalorimer @fboxwala do you know what the status of the video is?

[2016-05-07 15:57] fboxwala commented on #197
Yes it's on the csclub's camera. If you or someone wants, you can go get it and render the video, otherwise I can ask someone in csc to do it? I totally forgot to get it done last term, and I had taken responsibility for it, so sorry about letting it drop.

[2016-05-07 17:27] evykassirer commented on #197
If it's easy for you to coordinate, go for it. Otherwise we can have someone from this term committee take it on.

[2016-05-07 19:18] ehashman commented on #195
You could also check the calendar and all the historical facebook invites.

[2016-05-09 19:56] fboxwala commented on #197
okay find it here: hfcs:/scratch-hfcs/pj2melan/s16/steph-wics/encodes

[2016-05-10 03:09] ehashman commented on #197
Had to recut it from ~00:01:40 to 01:05:04. Recompressing.

[2016-05-10 15:43] ehashman commented on #197
Talk is now up: http://mirror.csclub.uwaterloo.ca/wics/stephanie_morillo.mp4

[2016-05-11 01:36] #196 closed

[2016-05-17 16:05] ehashman opened #207 "Try out "Ain't CMS""
This may help people with submitting pull requests and keeping the website up to date if they are not super familiar with git: https://aint.io/

Might be a cool thing to research and look into.

[2016-05-20 18:42] #166 closed

[2016-05-20 19:39] fboxwala commented on #207
This seems really cool and something to keep an eye on.

Although, I think learning git is a really important skill for us to be teaching people, and the website has been a great way to teach new committee members and termcoms the basics. I guess I would still want the default to be, fork, branch, commit, PR all over CLI to still be what we default to in onboarding, and then present this as an opt

[2016-05-30 18:49] evykassirer opened #211 "add mention of photography policy to website"
This was mentioned in a meeting in F15 but never done

We take pictures at events, but won't take your picture if you're not wearing a lanyard.

We'll always tell everyone at the beginning of the event that photos taken will end up on social media unless you specifically ask otherwise (or are wearing a lanyard)

I'm assuming this would go under http://wics.uwaterloo.ca/policies/

[2016-06-01 23:48] evykassirer commented on #193
@zarinaaa is taking this one, but I can't assign it to her

@ehashman do we need to add her to some list?

[2016-06-02 00:57] evykassirer opened #214 "Suggestion/feedback form"
As a way for people to send us anonymous feedback all the time - the form can email us when it's been submitted

We probably want this in the FAQ?

[2016-06-02 18:12] #197 closed

[2016-06-02 18:14] evykassirer commented on #207
++ to using the website to teach people about git - so far it seems like everyone's benefited a lot from it.

It could be useful to let community members contribute, but I'm not sure if the need for that is really high enough at this point. Most of the people that would blog for us would probably know git or be interested in learning.

Do we want to keep this issue open?

[2016-06-02 19:05] ehashman commented on #207
The point is not to enable community members to contribute. The point is to make it easier for committee members to contribute to the website, since despite training, orientations, etc. we still only see a tiny subset of committee members writing website posts.

[2016-06-02 19:07] evykassirer commented on #207
I think it's worth the effort to help committee develop the skills to contribute. So far this term is going better than most (I think) and everyone on committee has contributed at least once (though maybe not this term), with more people seeming comfortable picking up more issues. Time will tell more in the next couple weeks (it's a current action on gitlab)

[2016-06-08 22:25] evykassirer commented on #161
@SZain are you still wanting to work on this?

[2016-06-12 22:42] #193 closed

[2016-06-13 12:58] annalorimer opened #222 "Change absolute links to relative links"
There have been discussions about changing all links that link to a page on wics.uwaterloo.ca to be relative instead of absolute.

Discuss below!

Here's some research:

http://www.navegabem.com/linking-strategy.html
https://moz.com/blog/relative-vs-absolute-urls-whiteboard-friday
http://stackoverflow.com/questions/2005079/absolute-vs-relative-urls

[2016-06-13 13:52] annalorimer opened #223 "Add event-running proposal email guidelines"
We want to give people an idea of what sort of information that we're looking for when they want to propose an event.

Based on the event proposal form that can be found in the drive.

Here: https://docs.google.com/forms/d/1nF1Ssna-j1L9gQQPcTgb8kr81FjKVbprc07cglXYEIk/edit

[2016-06-13 13:53] evykassirer commented on #223
Added note: the reason we don't want to use the form is because it doesn't notify us when someone fills it out. We want them to send us an email (with the information in the form)

This would probably be a new page, linked from the volunteer info page?

[2016-06-13 15:05] ehashman commented on #222
Here's the git grep (minus the ones that don't need to be changed):

[code]

It appears that the FAQ absolute link got cargo-culted in S15 and has been showing up since then. All these files from the git grep should get updated.

[2016-06-13 15:16] ehashman commented on #223
Suggestions for the form:
- "Time" is too vague. You probably want to consider both "duration" and "time of day."
- "Location" is usually not something that a new event organizer would know or care about; it's the job of the experienced organizers (i.e. you) to figure that out. "Target audience size" is a better ask.
- Same thing with "budget". If the event proposer/organizer knows all these speci

[2016-06-13 15:18] ehashman commented on #223
One more comment: you can turn on email notifications for when a google form is submitted: http://www.labnol.org/internet/email-notification-for-google-docs-forms/5248/

It's under "Tools".

[2016-06-14 18:22] evykassirer commented on #223
Seems like this is unnecessary either way then! Feel free to reopen anyone, if you feel otherwise

[2016-06-14 18:22] #223 closed

[2016-06-20 20:12] #161 closed

[2016-07-02 21:36] bdamerac commented on #222
Almost done. What's the relative link for 'http://wics.uwaterloo.ca/tags/blackberry' ?

[2016-07-02 22:01] ehashman commented on #222
It should be `{tag}blackberry` or the like.

[2016-07-07 01:34] evykassirer commented on #155
yay done!

[2016-07-07 01:34] #155 closed

[2016-07-07 01:35] evykassirer commented on #181
this was merged in #227

[2016-07-07 01:35] #181 closed

[2016-07-07 15:42] evykassirer opened #234 "add comment about NOT pulling into the readme"
https://github.com/wics-uw/website/pull/215#issuecomment-231110769

it's already mentioned briefly in the readme, but adding this longer explanation about never pulling would be helpful (at @arshiamufti's suggestion)

[2016-07-07 19:42] evykassirer commented on #222
fixed in #230

[2016-07-07 19:43] #222 closed

[2016-07-12 21:39] evykassirer opened #238 "duplicated slug for csc event"
[code]

Sorry Bhargavi, I missed this in code review. Can you fix it please?

[2016-07-13 16:29] evykassirer opened #240 "Unable to find /content/S2016/S16-updated-event-wics-csc.md"
"WARNING: Unable to find /content/S2016/S16-updated-event-wics-csc.md, skipping url replacement"

[2016-07-13 16:38] evykassirer commented on #238
Fatema hot fixed this in c703dfd

[2016-07-13 16:38] evykassirer commented on #238
(got confused and didn't realize that Bharg's pr was doing that exact thing)

[2016-07-13 16:38] #238 closed

[2016-07-13 17:17] evykassirer commented on #240
so files should always be term-event (so we changed from updated-event to event-updated)

then heroku was still complaining so we took out the link in the cancelled event

then heroku was **still** failing so we just merged #241 and deployed the site and it was fine?

[2016-07-13 17:17] #240 closed

[2016-07-13 20:30] evykassirer commented on #102
done!!

[2016-07-13 20:30] #102 closed

[2016-07-13 22:07] evykassirer commented on #195
all done 🎉

[2016-07-13 22:07] #195 closed

[2016-07-13 22:57] evykassirer commented on #214
thanks Zarina!

[2016-07-13 22:57] #214 closed

[2016-07-14 00:47] #211 closed

[2016-07-18 13:54] evykassirer commented on #207
Committee has been quite involved on GitHub, also a committee member just told me:

I think that spending the time to teach git and then encouraging people to take on many issues throughout the term has been incredibly good for the committee.

Would you be comfortable closing this issue now?

[2016-07-18 13:56] evykassirer opened #248 "Update irc instructions on website"
Our internal wiki has info on WeeChat and other stuff. I'd be great to put it all on our website for folks to have lots of options. It's already on gitlab in markdown so it would be pretty easy to move over!

[2016-07-18 18:02] ehashman commented on #207
Whether or not committee members are better able to get the hang of things, I still think this is something we should take a look at, as it might be super useful down the road. Would prefer to leave this issue open until someone tries it.

[2016-07-18 20:09] evykassirer commented on #207
sure, I'll leave it open :)

[2016-07-19 18:49] #234 closed

[2016-07-25 17:54] evykassirer opened #249 "use direct signup for volunteer list instead of form"
update the volunteer page to link to https://lists.uwaterloo.ca/mailman/listinfo/wics-volunteers (and the wics sys one) instead of the google form

that way we don't have to sign them up ourselves

if we can style it like Elana did https://lists.uwaterloo.ca/mailman/listinfo/wics-announce, that'd be cool

[2016-07-30 14:16] arshiamufti opened #250 "Update sponsorships page"
The information on our partnership with BlackBerry on the [sponsorships](http://wics.uwaterloo.ca/sponsorship/) is pretty outdated.

[2016-08-12 13:53] annalorimer opened #251 "Update office location"
Since our office is moving, we need to update the location on http://wics.uwaterloo.ca/contact-us/

### Tasks: ##

1. Update the Contact-Us page
2. Write a website post informing people about the move

### Required information: ##

- Office is moving to MC3013C

[2016-08-26 14:31] annalorimer opened #253 "Squashing Commits Instructions unclear in README"
Doesn't address:

- When during the pull request process commits should be squashed
- Doesn't explain what is actually means to squash a commit

Possible mistakes:

- "git push --force" should be "git push origin BranchName --force"

[2016-08-26 14:36] evykassirer commented on #253
hm I think after the first time you push, it'll know what "push --force" means (at least, I only have to say git push)

but great points! we haven't actually specified when they should be squashed, but I like the idea of it happening at the end because then you can see the difference between commits as you go and what things you fixed

[2016-08-26 14:43] annalorimer commented on #253
For me it didn't know where to push to for "git push --force", although it's entirely possible there was something else wrong.

I agree about doing it at the end.

[2016-08-26 14:46] evykassirer commented on #253
ah, yeah

every time I do `git push` the first time it's like "did you mean `git push .......` and then I copy paste that and forget about what it was :p we could explain this better

[2016-08-26 14:50] annalorimer opened #254 "Volunteer Sign up form is hard to find"
#### Problem:
- Volunteer sign up form is hard to find
- Currently click paths:
 - About > Form
 - FAQ > About > Form
 - FAQ > Volunteer Opportunities Page > Form

The click paths don't seem that bad, but for some reason it's really hard to find.

#### Possible solutions:
- Adding a volunteer tab to the nav bar

#### Related Issues:

- #249

[2016-08-27 22:26] evykassirer opened #255 "simplify tags"
There are a bunch of tags for posts on the site. Some are redundant and some are only used on one post and probably won't be used again - let's remove these.

[2016-08-28 14:10] evykassirer commented on #250
Information to update:
- the workshops were in F15, W16, and S16 (maybe that could be called the 2015-2016 school year?)
- anywhere it says currently (or something else in future tense), change it to something else
- keep the link to the events we ran with blackberry, but maybe also just state the names of each of them

[2016-08-28 14:13] evykassirer opened #256 "Add F16 committee"
related pull requests/issues from other terms: #166 #96  #66  #59 #27

[2016-08-28 14:18] arshiamufti commented on #254
I feel like it's important enough to add to a navbar but I don't know what we could remove -- the media tab maybe? We could also add it as a link in the footer.

[2016-08-28 14:19] arshiamufti commented on #251
Should we mention this is temporary?

[2016-08-28 14:22] arshiamufti commented on #250
Hm, I don't think we need to need to change the tense. For example, [the machine learning event](http://wics.uwaterloo.ca/2016/06/machine-learning-bb-s16/) (S16) says "this event **is** sponsored by BlackBerry" which was true at the time.

[2016-08-28 14:24] evykassirer commented on #250
I mean, on the sponsorship page

[2016-08-28 14:26] evykassirer commented on #254
is there any way to put the media and calendar links at the top of the events page instead of in the nav bar? @fboxwala

[2016-08-28 14:29] evykassirer commented on #254
making a new issue for the navbar problem

[2016-08-28 14:30] evykassirer opened #257 "Reassess Navbar Tabs"
There are too many things we want in the navbar

Volunteering should really be there (#254) but what do we take away?

Dropdown menus aren't super easy but is an option: https://github.com/getpelican/pelican/issues/1037

Or we could try moving navbar items to links on other pages (e.g. media and calendar as links at the top of the events page) - is this possible?

[2016-08-29 13:29] annalorimer commented on #257
Can we rename the issue? It seems like the navbar is broken :/

[2016-08-29 13:34] evykassirer commented on #257
True. How's that?

[2016-08-29 13:36] annalorimer commented on #257
How about "Reassess Navbar Tabs"?

[2016-08-29 14:06] #250 closed

[2016-09-14 17:30] arshiamufti commented on #257
If we're getting rid of the calendar page, we should probably create an issue for that and replacing it with the volunteering tab. Not sure if we've decided that this is the way to go though. Discuss here?

[2016-09-14 17:31] evykassirer commented on #257
I definitely think volunteering is most important +1

[2016-09-14 17:34] arshiamufti opened #261 "Add event pictures to our website"
We usually take a couple of pictures at our events and since @SrishtiG recently uploaded pictures of the recent Toronto meetup and WiCS orientation, it would be cool to have selected photos on our website instead of just Facebook/Twitter because

- not everyone uses Facebook/Twitter
- it's a more central location for them
- a picture is worth a thousand words \o/

Not quite sure if there are any t

[2016-09-15 21:48] ehashman commented on #261
@arshiamufti: we have blog posts that have had photos before: http://wics.uwaterloo.ca/2015/01/office-hours/

If the plan is do to something more like a photo gallery, that's a bit more constrained. We'd need to find a suitable pelican plugin capable of displaying lots of photos so we don't have to hand-code that when we regenerate the site. This has been something I've been looking for... for at

[2016-09-15 22:06] arshiamufti commented on #261
hmm we also could upload them on flickr for now as a quick fix and work on this in the meantime? I could look into plugins.

[2016-09-20 17:17] fboxwala commented on #257
+1 Volunteering

[2016-09-20 17:18] fboxwala commented on #248
I would suggest linking directly to the gitlab post? Since the one in WiCS/Documentation is accessible to anyone that can get into uwaterloo gitlab

[2016-09-20 17:18] evykassirer commented on #257
Oo changing this could be a great onboarding task too

[2016-09-20 17:19] fboxwala commented on #253
We had similar problems with the page in the git workshop, and Elana added helpful info to it. Could copy paste from there to README or link there from readme?

[2016-09-20 22:55] #251 closed

[2016-09-28 16:36] annalorimer opened #265 "Change Volunteer Signup from Google Form to Direct List Sign Up"
Problem:

- Currently we are linking to a Google Form for people to use to sign up for volunteering
- This means that we have to copy over the email addresses to the mailing list which causes mistakes

Solution:

- Link to https://lists.uwaterloo.ca/mailman/listinfo/wics-volunteers instead

[2016-09-28 16:40] annalorimer opened #266 "F16 Office Hours"
- Create and event/blog post detailing our office hours for this term

[2016-09-28 16:44] annalorimer commented on #265
Oops this is a duplicate of #249

[2016-09-28 16:44] #265 closed

[2016-10-06 01:36] arshiamufti commented on #255
Has someone taken this on/does someone want to take it on? I could do this if no one else has the time.

[2016-10-06 23:09] evykassirer commented on #248
can I take this on?

[2016-10-07 00:07] evykassirer commented on #266
assigned to Rolina ( @fboxwala  are you able to add her as a contributer to WiCS so I can assign this issue to her?)

[2016-10-07 00:08] evykassirer commented on #257
do we want to close this once we put volunteering in?

(that's been assigned to Fatima @fat1996  )

[2016-10-07 00:09] evykassirer commented on #256
assigned to @shivangipatwardhan2018

[2016-10-07 16:47] arshiamufti commented on #261
What do people think of creating a WiCS Flickr/photobucket?

[2016-10-07 17:11] evykassirer commented on #261
++

[2016-10-08 15:49] annalorimer commented on #261
We'd have to update our policy, as anything updated to Flickr/Photobucket would be subject to their privacy policy. Not it against it though.

[2016-10-08 15:56] evykassirer commented on #261
What in our photo policy would be in conflict with Flick/Photobucket's policies?

"Note: While we do our best to maintain control of the photos we take, we cannot guarantee that photos will not be stolen/used by other organizations." seems to cover any of that

[2016-10-08 16:00] annalorimer commented on #261
It's not that they would conflict, it's that we need to be as transparent as possible.

We would be explicitly putting these photos in the control of a corporation, which is entirely different legally from our disclaimer.

[2016-10-08 16:01] evykassirer commented on #261
yeah okay that makes sense

[2016-10-09 15:45] evykassirer commented on #254
this is being handled in the navbar tabs issue, so I'm closing this issue

[2016-10-09 15:45] #254 closed

[2016-10-09 15:45] evykassirer commented on #249
@annalorimer do you want to do this as volunteer person, or is it cool if I take it on?

[2016-10-10 20:32] arshiamufti opened #269 "Instructions on how to move a commit to a different branch"
It's often the case that we commit a change and realize we're on the wrong branch (happened in #267). So it would be nice to add documentation on how to move a commit to a different (new or already existing branch)
- before it's pushed
- after it's pushes

[2016-10-10 20:36] annalorimer commented on #249
@evykassirer I'm working with the lists anyways so I'll do it.

[2016-10-11 13:59] fboxwala commented on #269
does this happen that often? I don't want to be rewriting all of git's documentation for them. People can a) google when specific problems come up and b) reach out to experienced committee members.

It would be impossible to come up with documentation for every possible scenario that someone has, and we should be encouraging people to do their own research.

[2016-10-11 14:04] fboxwala commented on #266
@rolinawu: I've sent you a couple invitations (the should show up in your github notifications) you have to accept them to get added to the team.

[2016-10-11 15:20] arshiamufti commented on #269
I think it happens often enough tbh. How about we ask @shivangipatwardhan2018 to look into this and update the documentation? It doesn't have to be a whole text, it could just be a link to a source.

[2016-10-11 15:57] annalorimer commented on #269
I agree with Fatema. I honestly have not seen this happen very often and it's important for more experienced people to help out less experienced people. Whether it's directing them to an appropriate resource or going through something step by step.

[2016-10-11 16:37] #269 closed

[2016-11-03 13:36] evykassirer commented on #266
done with #270

[2016-11-03 13:36] #266 closed

[2016-11-03 13:36] evykassirer commented on #257
done with #264

[2016-11-03 13:36] #257 closed

[2016-11-03 13:37] evykassirer commented on #256
done with #267

[2016-11-03 13:37] #256 closed

[2016-11-10 16:17] annalorimer commented on #253
Just went through the instructions again for a recent pull request. The paragraph is really dense and hard to parse.

Also, the simple git push --force does not work. It needs to be git push origin BranchName --force.

[2016-11-11 02:44] arshiamufti commented on #253
I'll take this on. I also propose we pull all the git related stuff from the README into a second file--it takes ages to find stuff on it.

[2017-01-12 01:02] evykassirer opened #284 "fix link to last term's committee"
@anakhap  - figured out what was wrong

<img width="946" alt="screen shot 2017-01-11 at 7 26 32 pm" src="https://cloud.githubusercontent.com/assets/5634097/21872851/dbfa8384-d838-11e6-9ab5-2a8a0334f9c7.png">

[2017-01-12 03:16] anakhap commented on #284
Oh okay, great! I'll fix that

[2017-01-12 15:06] #284 closed

[2017-01-26 18:18] annalorimer commented on #249
I'm going to vote that we don't change this yet. Given that our volunteer program is undergoing changes and the google form actually let's us collect a bit more information about who's interested in volunteering, which could help us figure out how to restructure the program.

[2017-01-30 17:02] arshiamufti opened #297 "update FAQ for why we hold women only events"
- We currently say that we do not publicly advertise women only events, but last semester, committee decided to go ahead and do it.
- It would be nice to give the answer some more detail.

[2017-01-30 18:59] arshiamufti commented on #297
Update: the committee will decide during the next meeting if women only events should be publicized from now on, so point 1 can be addressed as per the outcome of that meeting.

[2017-01-30 19:01] fboxwala commented on #297
also update: I am working on more in depth explanations right now! I will put up a PR this week.

[2017-01-30 22:26] annalorimer commented on #297
I'm confused about "publicly" advertising. We've always advertised on FB and Twitter, which I would characterize as public. The decision was made to start using posters to advertise women-only events.

[2017-01-31 03:31] claricen commented on #297
@annalorimer we used to advertise women-only events only in our closed WiCS group on FB so I wouldn't consider that public. On the other hand I'd characterize twitter as public too, but traffic is really low there.

[2017-01-31 03:41] annalorimer commented on #297
@claricen aahhh ok thanks 😃

[2017-02-18 06:41] fat1996 commented on #255
@evykassirer @arshiamufti I'd be willing to take this on. Should I just remove the ones that've been used once?

[2017-02-18 14:42] evykassirer commented on #255
that sounds good!

[2017-02-18 16:07] annalorimer commented on #255
@fat1996 There's a few tags that have only been used once that we should keep ('Square', 'graphics', 'conference' etc.). Delete the ones you think we don't need and we can comment on that in the PR.

[2017-02-18 22:15] #297 closed

[2017-02-20 20:48] fat1996 opened #314 "Adding a 'pushing commits' section in the README"
Could we add a small section for how to add commits **after** a pull request has been opened, since the instructions then become "git push origin branch-name" instead of "git push origin HEAD"? I feel this might be helpful, especially after there are changes requested on your PR.

[2017-02-20 20:48] #314 closed

[2017-02-22 14:02] annalorimer commented on #314
@fat1996 why did you close this?

[2017-02-22 18:26] fat1996 commented on #314
@annalorimer I felt this should be added for the wiki that was created for the git workshop instead of the README. I was following the instructions on the wiki, and I felt this was unclear. Should I reopen it? I do have some suggestions for the wiki.

[2017-02-22 18:30] annalorimer commented on #314
@fat1996 Makes sense. You just need to leave a note explaining why issues get closed 😃 .

[2017-03-02 00:41] fat1996 commented on #255
@evykassirer @annalorimer can this be closed?

[2017-03-02 14:36] annalorimer commented on #255
@fat1996 I haven't deployed yet but sure.

[2017-03-02 14:36] #255 closed

[2017-03-20 22:05] evykassirer commented on #249
thanks @mokaixu

[2017-03-20 22:05] #249 closed

[2017-03-21 13:27] fat1996 opened #322 "Shift the 'Contact Us' section under 'About' and add 'Opportunities' to the navigation bar"

[2017-03-21 13:35] fat1996 opened #323 "Improve instructions in the 'How to use IRC' guide"
The documentation provided has to be improved inorder to encourage people to check IRC more frequently. Possibly add explanations of the given commands(what they do) to make it less confusing.

[2017-03-22 15:51] annalorimer opened #324 "Site not using HTTPS"
@fboxwala did we renew the certs? Chrome is still giving me a security alert.

[2017-11-16 00:36] RootLuo opened #343 "Update instructions for adding site contents in README"
- To make all the posts consistent, could we add some suggested structure for an event post? Or maybe we could create a template file for that.
- Could we add some common tips for adding site contents? For example, put "the max length of a line should be 80 chars" in the README.

[2017-11-16 00:40] RootLuo opened #344 "Add pelican-youtube plugin for embedded youtube video"
This is the link for the plug-in:   ##https://github.com/kura/pelican_youtube

@annalorimer Hi Anna, you said you would take a look at that before, any updates :)

[2020-09-10 21:04] #207 closed